
@{
    ViewBag.Title = "Verificar";
    Layout = "~/Views/Shared/_LayoutAdmind.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verificacion</title>
</head>
<body>
    <center>
        <p class="center-align green-text">@ViewBag.Cantidad</p>
    </center>
</body>
</html>
