
@{
    AppClient.CanchitaWS.Usuario usuario = (AppClient.CanchitaWS.Usuario)Session["usuarioCliente"];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CANCHITA LA 10</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link href="~/content/css/materialize.min.css" rel="stylesheet" />
    <link href="~/content/css/myStyle.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    
    <style>
        .error{
            display:none;
            color:red;
        }
        
    </style>
    <script>
     
    </script>
</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><img src="~/img/logo-web.png" width="180" /></a>
            <ul class="right hide-on-med-and-down">
                @if (Session["usuarioCliente"] == null)
                {
                    <li><a href="/LoginClient/Registro">Registrate aqui</a></li>
                    <li><a href="/LoginClient/Login">Inicia Sesion aqui</a></li>
                }
                else
                {
                    <li><a href="/ReservaClient/verlistaReservasxCliente">Ver mis reservas</a></li>
                    <li><a href="/LoginClient/CerrarSesion">Cerrar Sesion</a></li>
                }
              
                
            </ul>
            <ul id="nav-mobile" class="side-nav">
                <li><a href="/LoginClient/Registro">Registrate aqui</a></li>
                <li><a href="/LoginClient/Login">Inicia Sesion aqui</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    

    <script src="~/content/js/jquery-2.1.4.min.js"></script>
    <script src="~/content/js/jquery.unobtrusive-ajax.js"></script>
    <!-- Compiled and minified JavaScript -->

    <script src="~/content/js/MaterializeClient.min.js"></script>
    
    @RenderSection("script", false)
    <script>

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year
           
            monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            weekdaysFull: ['Domingo','Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
            weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab'],
            min: new Date(),
            max: undefined,
            today: 'Hoy',
            clear: 'Limpiar',
            close: 'Cerrar'
        });

        $(document).ready(function () {
            $('.borrarHidden input[type="hidden"]').remove();
            $('#diponibles').click(function () {
                var dia = $('#dia').val();
                if (dia == "") {
                    $('#error').fadeIn('slow');
                    return false;
                }
            });
        });

        (function ($) {
            $(function () {

                $('.button-collapse').sideNav();
                $('.parallax').parallax();

            }); 
        })(jQuery); 

        $(document).ready(function () {
            $('select').material_select();
            $('.slider').slider({ full_width: false });
        });
    </script>
</body>
</html>