<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="~/content/css/myStyle.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    
    <style>
        .error{
            display:none;
            color:red;
        }
        
    </style>
    <script>
     
    </script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="~/content/js/jquery.unobtrusive-ajax.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    @RenderSection("script", false)
    <script>

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });

        $(document).ready(function () {
            $('.borrarHidden input[type="hidden"]').remove();
            $('#diponibles').click(function () {
                var dia = $('#dia').val();
                if (dia == "") {
                    $('#error').fadeIn('slow');
                    return false;
                }
            });
        });

        (function ($) {
            $(function () {

                $('.button-collapse').sideNav();
                $('.parallax').parallax();

            }); // end of document ready
        })(jQuery); // end of jQuery name space

        $(document).ready(function () {
            $('select').material_select();
            $('.slider').slider({ full_width: false });
        });

      
    </script>
</body>
</html>