<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITransaccion" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1557/Transaccion.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITransaccion" contract="TransaccionWS.ITransaccion"
                name="BasicHttpBinding_ITransaccion" />
        </client>
    </system.serviceModel>
</configuration>