@model AppClient.CanchitaWS.Sede

@{
    ViewBag.Title = "Index";
    Layout = null;
}

@using (Html.BeginForm("Create", "Sede", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
  <div id="basic-card" class="section">
            <div class="row">
                <div class="col s12 m8 l12">
                    <div class="card  white">
                        <div class="card-content cyan lighten-4">
                            <h5 class=" center-align grey-text  text-darken-2">Nueva Sede</h5>
                        </div>
                        <div class="card-action">
                            <div class="row">
                                <div class="col s12">
                                    <div style="width:70% ; margin:0 auto;">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="mdi-action-account-circle prefix"></i>
                                                @Html.EditorFor(model => model.Descripcion)
                                                @Html.LabelFor(model => model.Descripcion)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                <i class="mdi-communication-email prefix"></i>
                                                @Html.EditorFor(model => model.Direccion)
                                                @Html.LabelFor(model => model.Direccion)
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="file-field input-field">
                                                <div class="btn">
                                                    <span>File</span>
                                                    <input type="file" id="fimage" name="fimage">
                                                </div>
                                                <div class="file-path-wrapper">
                                                    <input class="file-path validate" type="text">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <button class="btn cyan waves-effect waves-light right" type="submit" name="action">
                                                        Guardar
                                                        <i class="mdi-content-send right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
</div>
  
            

}



