@model List<AppClient.CanchitaWS.Usuario>

@{
    ViewBag.Title = "_ShowDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>_ShowDetails</h2>

 @for (var i = 0; i < Model.Count(); i++)
 {
     <li>
         <ul>@Html.DisplayFor(it => it[i].Username)</ul>
     </li>
     
     
 }


