
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Ajax.BeginForm("ShowDetails", "Ajax",
                new AjaxOptions {HttpMethod="POST",UpdateTargetId="div1",
                                 InsertionMode = InsertionMode.Replace,
                                 LoadingElementId = "waitimage" })
<input type="submit" value="Show Details" />
@{Html.EndForm();}
<br />
<img id="waitimage" src="~/img/loading42.gif" style="display:none" />
<br />
<div id="div1">
</div>