
@{
    ViewBag.Title = "pagar";
    Layout = "~/Views/Shared/_Recuperaradmin.cshtml";
}

<h2>Resumen</h2>
<p class="green-text text-darken-3 center-align">@ViewBag.Mensaje</p>

@Html.ActionLink("Pagar otra Reserva", "Index", new { /* id=item.PrimaryKey */ }) |