@model IEnumerable<AppClient.CanchitaWS.Sede>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <br />
    <h5 class="center-align black-text" style=" letter-spacing: 2px; font-size: 1.8rem">-- SELECCIONE UNA SEDE --</h5>

    <div class="slider">
        <ul class="slides">

            @foreach (var item in Model)
            {
                <li>
                    @{ var imagen = string.Empty;
                     if (item.Imagen != null)
                     {
                         var base64 = Convert.ToBase64String(item.Imagen);
                         imagen = string.Format("data:image/jpg;base64,{0}", base64);
                     }
                    }
                    <img src="@imagen"> <!-- random image -->
                    <div class="caption center-align">
                        <p class="grey-text text-lighten-4" style=" letter-spacing: 2px; font-size: 2.5rem; text-transform: uppercase;">@Html.DisplayFor(modelItem => item.Descripcion)</p>
                        <p class="light grey-text text-lighten-5" style=" letter-spacing: 2px; font-size: 1.8rem; text-transform: uppercase;">@Html.DisplayFor(modelItem => item.Direccion)</p>
                        @Html.ActionLink("Ver Campos", "Index", "CampoClient", new { idSede = item.Id }, new { @class = "waves-effect waves-light btn  orange lighten-2" })
                    </div>
                </li>

            }
        </ul>
    </div>
</div>