
@{
    ViewBag.Title = "bienvenida";
    Layout = null;
}

<body>

    <div class="row valign-demo">

        <div class="col s3">
            <div class="col s2">
                <img src="~/img/benavente.gif" alt="" style="width:280px; height:250px;">
            </div>
        </div>

        <div class="col s9">
            <div style="text-align:right">
                <h3>
                    -      <b><i>Bienvenido a Campos Deportivos la 10.</i></b>
                </h3>
                <h4 style="color:green">
                    <i>Disfrute de los Mejores campos deportivos, a los mejores precios y ahora podrá realizar su reserva
                    por medio de nuestra WEB.</i>
                </h4>
            </div>
        </div>

    </div>
</body>

