@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


   

}

   

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text text-white">CAMPOS DEPORTIVOS</h1>
                <div class="row center">
                    <h5 class="header col s12 ">--------   VEN A DISFRUTAR DEL FUTBOL   --------</h5>
                </div>
                <div class="row center">
                    <a href="/Reservas/Index" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Haz tu reserva Ya!!!</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="~/img/fondo2.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <br><br><br>
    <footer class="page-footer  grey darken-4">
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="#">SISE</a>
            </div>
        </div>
    </footer>

   
   


