

    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo"><img src="~/img/logo-web.png" width="180" /></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Navbar Link</a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="#">Navbar Link</a></li>
            </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center white-text text-white">CAMPOS DEPORTIVOS</h1>
                <div class="row center">
                    <h5 class="header col s12 ">--------   VEN A DISFRUTAR DEL FUTBOL  --------</h5>
                </div>
                <div class="row center">
                    <a href="/Reserva/Index" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Haz tu reserva Ya!!!</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="~/img/fondo2.jpg" alt="Unsplashed background img 1"></div>
    </div>
    <br><br><br>
    <footer class="page-footer  grey darken-4">
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3" href="#">SISE</a>
            </div>
        </div>
    </footer>

   
   


