
@{
    ViewBag.Title = "verInformacion";
    Layout = "";
}

<body>

    <div class="valign-wrapper">
        <h5 class="valign" style="text-decoration:dotted;">Nuestros Servicios:</h5>
    </div>
    <div style="text-align:right">
        <p><b>Tener en cuenta:</b></p>
        <ul style="color:red">
            <li> Una vez reservado el campo no se permite devolución de su dinero.
            <li> Una vez reservado el campo, no se permite reprogramar el horario alquilado.
            <li> Ser puntuales.
        </ul>
    </div>
    <p><b>Alquiler de campos deportivos a precios cómodos y fijos en nuestras 5 Sedes Ubicadas en:</b></p>

    <div class="row valign-demo">

        <div class="col s6">
            <table class="highlight">
                <thead>
                    <tr style="background-color:GrayText">
                        <th>Distrito</th>
                        <th>Dirección</th>
                    </tr>
                </thead>

                <tr>
                    <td>SEDE Surco</td>
                    <td>Av. El sol 455 - Referencia Al lado del Tanque.</td>
                </tr>
                <tr>
                    <td>Sede La Victoria</td>
                    <td>Av. Manco Capac 680 , Referencia al lado de Empresa Entel</td>
                </tr>
                <tr>
                    <td>Sede Surquillo</td>
                    <td>Av. Rep Panama 4480</td>
                </tr>
                <tr>
                    <td>Sede La Molina</td>
                    <td>Av. la Molina 1168</td>
                </tr>
                <tr>
                    <td>Sede Chorrillos</td>
                    <td>Av. Alameda Sur Villa Nro. 721 </td>
                </tr>

            </table>
        </div>
        <div class="col s1">
            <hr style="width: 1px; height: 400px; display: inline-block;">
        </div>
        <div class="col s5">
            <table class="highlight">
                <thead>
                    <tr style="background-color:GrayText;">
                        <th rowspan="4 ">Precio</th>
                        <th>Horarios</th>
                    </tr>
                </thead>

                <tr>
                    <td>S/.100</td>
                    <td style="text-align:center;">Lunes a Domingo de 10:00 AM - Hasta  - 05:00 PM </td>
                </tr>
                <tr>
                    <td>S/.120</td>
                    <td style="text-align:center;">Lunes a Domingo de 06:00 PM - Hasta  - 11:00 PM </td>
                </tr>
            </table>
        </div>
    </div>

    
</body>


